# Build directories
build/

# Object files
*.o
*.d

# AVR binaries
*.hex
*.elf
*.eep
*.map
*.lst

# Other binaries
a.out

# Editor files
.vscode/

# macOS
.DS_Store

# Hidden
hidden

# for clangd lsp
compile_flags.txt

007-i2c/01-learn-twi/schematic/tmp1075_i2c_kicad/.history/
